@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container {
  background-image: linear-gradient(180deg, #d0f2f8 0%, #8db8d6 100%);
}

.header {
  width: 1200px;
  padding: 10px;
  background-color: #283945;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 15px 15px;
}

.header-left_side {
  width: auto;
  display: flex;
  padding: 0 0 0 5px;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 85px;
}

.header-title {
  text-align: center;
  margin-left: 0px;
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
  border-radius: 5px;
  padding: 0 5px;
  font-family: Caveat;
}

.header-title--bot {
  position: relative;
  margin-top: -5px;
  display: block;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-item {
  margin-right: 50px;
}

.nav-item:last-child {
  margin-right: 0px;
}

.nav-link {
  color: #afafb4;
  text-decoration: none;
  transition: all 0.2s linear;
}

.nav-link:hover {
  color: #ffffff;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts_link {
  padding: 2px 20px;
  display: flex;
  color: white;
  text-decoration: none;
  font-size: 17px;
  align-items: center;
}

.tel_icon {
  width: 20px;
  height: 20px;
  fill: white;
  margin-right: 5px;
}

.header-bar {
  width: 1150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.bar-list {
  display: flex;
}

.bar-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.bar_text {
  font-size: 20px;
  color: #212a27;
}

.bar_icon {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  right: -30px;
  width: 25px;
  height: 25px;
  fill: green;
}

.bar-title {
  margin: 0;
  margin-left: auto;
  height: 20px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.bar-socials_list {
  display: flex;
  align-items: center;
}

.bar-socials_item {
  margin-top: 3px;
  margin-left: 15px;
}

.bar-socials_link {
  width: 25px;
  height: 25px;
}

.bar-socials_icon {
  width: 25px;
  height: 25px;
  transition: all 0.3s ease;
}

.bar-socials_icon:first-child {
  width: 25px;
  height: 25px;
  transition: all 0.3s ease;
}

.bar-socials_icon:hover {
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 500px;
  border-radius: 15px;
  background-color: transparent;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

.swiper {
  width: 100%;
  height: 500px;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}

.swiper-slide {
  position: relative;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-img {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.swiper-subtitle {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(5px);
  font-size: 40px;
  color: white;
  text-align: center;
  background-color: rgba(142, 137, 137, 0.5);
  border-radius: 15px;
  padding: 3px 20px;
}

.services {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-bottom: 100px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.services-title {
  color: #255171;
  margin: 100px 0;
  font-size: 45px;
  font-weight: 600;
}

.service-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  width: 800px;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #a4a6b2;
}

.service-item {
  display: flex;
  width: 700px;
  border-bottom: 1px solid white;
  margin-top: 10px;
}

.service-name {
  color: #2d2d6e;
  font-size: 20px;
}

.service-price {
  color: #255171;
  margin-left: auto;
}

.questions {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 800px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
}

.questions-title {
  color: #255171;
  margin: 100px 0;
  font-size: 45px;
  font-weight: 600;
}

.questions-list {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.questions-item {
  position: relative;
  width: 100%;
  border-top: 1px solid white;
  padding: 15px 0;
}

.questions-subtitle {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
}

.questions-text {
  margin-top: 10px;
  opacity: 1;
  display: block;
  font-size: 25px;
  font-weight: 200;
  transition: all 0.1s ease;
  transform: scale(1);
  color: white;
}

.questions-text--hidden {
  opacity: 0;
  position: absolute;
  transform: scale(0);
}

.questions-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  padding: 0;
  border-radius: 50%;
  transform: rotate(45deg);
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.questions-btn:hover {
  background-color: #255171;
  transition: all 0.3s ease;
}

.questions-btn:hover .questions-icon {
  fill: white;
  transition: all 0.3s ease;
}

.questions-btn--open {
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.questions-icon {
  fill: #255171;
  z-index: 0;
  width: 17px;
  height: 17px;
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */