.header{
    width: 1200px;
    padding: 15px;
background-color: rgb(255, 255, 255);
margin-left: auto;
margin-right: auto;
border: 1px solid #4c8ec0;
border-top: none;
border-radius: 0 0 5px 5px;

}

.header-left_side{
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    background-color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.logo{
    width: 120px;
}
.header-title{
    margin-top: 10px;
font-size: 17px;

}