.container {
  background-image: linear-gradient(180deg, #ffffff 0%, #73a4c6 100%);
  height: 100vh;
}
.header {
  width: 1200px;
  padding: 10px;
  background-color: #283945;
  margin-left: auto;
  margin-right: auto;
  display: flex;
justify-content: space-between;
  border-radius: 0 0 15px 15px;
}

.header-left_side {
  
  width: auto;
  // background-color: white;
  display: flex;
  padding: 0 0 0 5px;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 85px;
}
.header-title {
  // background-color: #73a4c6;
  text-align: center;
  margin-left: 0px;
  // margin-top: 10px;
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
  border-radius: 5px;
  padding: 0 5px;
  font-family: Caveat;
}
.header-title--bot {
  position: relative;
  margin-top: -5px;
  display: block;
  align-items: center;
}
//------------------------------------NAVIGATION-----------------------------
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-list{
list-style: none;
display: flex;
flex-direction: row;
}
.nav-item{
  margin-right: 50px;
  
}
.nav-item:last-child{
  margin-right: 0px;
  
}
.nav-link {
  color: #afafb4;
  text-decoration: none;
  transition: all 0.2s linear;
}
.nav-link:hover{
  color: #ffffff;
}
//------------------------------------NAVIGATION-END-------------------------------
.contacts {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
}
.contacts_link {
  padding: 2px 20px;
  display: flex;
  // font-family: cursive;
  color: white;
  text-decoration: none;
  font-size: 17px;
  align-items: center;
}
.tel_icon {
  width: 20px;
  height: 20px;
  fill: white;
  margin-right: 5px;
}
