@media screen and (min-width: 320px) and (max-width: 768px) {
  .reviews {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    border-radius: 0 0 15px 15px;
    // padding: 15px;
    padding-bottom: 50px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-top: none;

    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .reviews-title {
    padding: 0 20px;
    color: white;
text-align: center;
    margin: 50px 0;
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: 600;
  }
  .reviews-form {
    display: flex;
    // height: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }

  .reviews-input {
    height: 40px;
    text-align: center;
    width: 280px;
    background-color: transparent;
    border-radius: 15px;
    margin-bottom: 25px;
    color: white;
    border: none;
    border: 1px solid white;
  }

  .reviews-input::placeholder {
    color: white;
    
  }
  .reviews-input:focus {
    border-color: transparent;
    outline-color: transparent;
    border: none;
  }
  .reviews-input:focus::placeholder {
    color: transparent;
    display: none;
  }
  .reviews_input--text {
    text-align: center;
    padding: 7px 0;
    height: 100px;
    width: 280px;
   
    color: white;
    
    resize: none;
  }

  .reviews-btn {
    background-color: #6b6394;
    height: 40px;
    width: 200px;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    padding: 0 15px;
  }
  .reviews-btn:hover {
    // background-color: rgb(69, 63, 63);
    box-shadow: 0 0 10px 2px #7f87c6;
  }
  .reviews-btn--success {
    background-color: #3fa67b;
  }
  //-------------------------------------------------------rev
  .reviews-list {
    box-shadow: 0 0 10px 0px #8ba0ad;
    margin-top: 50px;
    
    overflow: hidden;
    width: 100%;
    padding: 10px;
  }
  .reviews-item {
    margin-bottom: 25px;
    position: relative;
    padding: 15px 0;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid white;
  }
  .reviews-item-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
   
   
    margin-bottom: 10px;
  }
  .reviews_icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    fill: #6b6394;
  }

  .reviews-name {
    margin: 0;
    color: white;
    margin-bottom: 5px;
  }
  .reviews-date {
    font-size: 12px;
    color: white;
  }
  .reviews-email {
    font-size: 13px;
    color: white;
  }
  .reviews-message {
    display: flex;
    align-items: center;
    color: #6b6394;
    font-size: 15px;
    
    // text-align: center;
  }
  .more-btn {
    cursor: pointer;
    margin-top: 25px;
    padding: 5px 10px;
    border: none;
    background-color: #6b6394;
    color: white;
    box-shadow: 0 0 10px 0px #8ba0ad;
  }
}

/* DESKPOT-----------------------------------------------------------------------------*/
@media (min-width: 1200px) {
  .reviews {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    border-radius: 0 0 15px 15px;
    padding-bottom: 50px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-top: none;

    display: flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .reviews-title {
    color: white;

    margin: 100px 0;
    margin-bottom: 50px;
    font-size: 37px;
    font-weight: 600;
  }
  .reviews-form {
    display: flex;
    height: 80px;
    align-items: flex-start;
    width: 800px;
  }

  .reviews-input {
    height: 40px;
    text-align: center;
    // outline: 1px solid white;
    background-color: transparent;
    border-radius: 15px;
    margin-right: 25px;
    color: white;
    border: none;
    box-shadow: 0 0 10px 0px #8ba0ad;
  }

  .reviews-input::placeholder {
    color: white;
    vertical-align: middle;
  }
  .reviews-input:focus {
    border-color: transparent;
    outline-color: transparent;
    border: none;
  }
  .reviews-input:focus::placeholder {
    color: transparent;
    display: none;
  }
  .reviews_input--text {
    text-align: center;
    padding: 7px 0;
    margin-right: 25px;
    width: 400px;
    box-shadow: 0 0 10px 0px #8ba0ad;
    color: white;
    height: 80px;
    resize: none;
  }

  .reviews-btn {
    background-color: #6b6394;
    height: 40px;
    width: 200px;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    padding: 0 15px;
  }
  .reviews-btn:hover {
    // background-color: rgb(69, 63, 63);
    box-shadow: 0 0 10px 2px #7f87c6;
  }
  .reviews-btn--success {
    background-color: #3fa67b;
  }
  //-------------------------------------------------------rev
  .reviews-list {
    box-shadow: 0 0 10px 0px #8ba0ad;
    margin-top: 50px;
    border-radius: 15px;
    overflow: hidden;
    width: 1100px;
    padding: 25px;
  }
  .reviews-item {
    margin-bottom: 25px;
    position: relative;
    padding-left: 60px;
    display: flex;
    flex-direction: row;
    // height: 50px;
  }
  .reviews-item-wrap {
    display: flex;
    align-items: center;
    text-align: center;
    border-right: 1px solid white;
    padding-right: 10px;
  }
  .reviews_icon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    fill: #6b6394;
  }

  .reviews-name {
    margin: 0;
    color: white;
  }
  .reviews-date {
    font-size: 12px;
    color: white;
  }
  .reviews-email {
    font-size: 13px;
    color: white;
  }
  .reviews-message {
    display: flex;
    align-items: center;
    color: #6b6394;
    font-size: 15px;
    padding: 0 15px;
    width: 880px;
  }
  .more-btn {
    cursor: pointer;
    margin-top: 25px;
    padding: 5px 10px;
    border: none;
    background-color: #6b6394;
    color: white;
    box-shadow: 0 0 10px 0px #8ba0ad;
  }
}
