@media screen and (min-width: 320px)  and (max-width: 767px){
  .services {
    
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
   padding-bottom: 50px;
    background-color: transparent;
    border-bottom: 1px solid #ffffff;
    
   
  
    display: flex;
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
  }
  .services-title {
    color: #255171;
    margin: 50px 0;
    font-size: 25px;
    font-weight: 600;
  }

  .services-info{
    margin-bottom: 25px;
    color: red;
    text-align: center;
    padding: 0 10px;
  }
  .service-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding: 50px 20px;
    
    box-shadow: 0 0 10px 2px #a4a6b2;
  }
  .service-item {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #835454;
    margin-top: 15px;
  }
  .service-name {
    width: 40%;
    color: #255171;
    font-size: 12px;
  }
  .service-price {
    color: #255171;
    margin-left: auto;
    font-size: 12px;
    padding-top: 10px;

  }
  
}
/* TABLET----------------------------------------------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .services {
    
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
   padding-bottom: 50px;
    background-color: transparent;
    border-bottom: 1px solid #ffffff;
    
   
  
    display: flex;
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
  }
  .services-title {
    color: #255171;
    margin: 50px 0;
    font-size: 25px;
    font-weight: 600;
  }
  .services-info{
    margin-bottom: 25px;
    color: red;
    text-align: center;
    padding: 0 10px;
  }
  .service-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding: 50px 50px;
    
    box-shadow: 0 0 10px 2px #a4a6b2;
  }
  .service-item {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #835454;
    margin-top: 15px;
  }
  .service-name {
    color: #255171;
    font-size: 18px;
  }
  .service-price {
    color: #255171;
    margin-left: auto;
    font-size: 18px;
  }
  
}
/* DESKPOT-----------------------------------------------------------------------------*/
@media (min-width: 1200px) {
.services {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
 padding-bottom: 100px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-top: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.services-title {
  color: white;
  margin: 100px 0;
  margin-bottom: 50px;
  font-size: 45px;
  font-weight: 600;
}
.services-info{
  color: red;
  font-size: 18px;
}
.service-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 50px 20px;
  width: 800px;
  border-radius: 10px;
 
}
.service-item {
  display: flex;
  width: 700px;
  border-bottom: 1px solid white;
  margin-top: 15px;
}
.service-name {
  color: #2d2d6e;
  font-size: 20px;
}
.service-price {
  color: #255171;
  margin-left: auto;
}
}