
@media screen and (min-width: 320px)  and (max-width: 767px){
  .container {
    width: 100vw;
    background-image: linear-gradient(180deg, #d0f2f8 0%, #8db8d6 100%);
    padding-bottom: 15px;
  }
}
/* TABLET----------------------------------------------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 100vw;
    background-image: linear-gradient(180deg, #d0f2f8 0%, #8db8d6 100%);
    padding-bottom: 15px;
  }
}
/* DESKPOT-----------------------------------------------------------------------------*/
@media (min-width: 1200px) {
.container {
  background-image: linear-gradient(180deg, #d0f2f8 0%, #8db8d6 100%);
  padding-bottom: 15px;
}
}
