/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
    font-family: Roboto;
    
/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  scrollbar-color: #458245 #714826; /* «цвет ползунка» «цвет полосы скроллбара» */
    scrollbar-width: 5px;
}
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}



input[type=range]  {
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::-webkit-scrollbar {
  width: 13px;
 
  background-color: #b2d8e9;
  
  
  
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #1f5471;
  border-radius: 10px;
  
  height: 15px;
 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
  background-color: #1f5471;
display: none;
  border-radius: 0 0 5px  5px;
}

::-webkit-scrollbar-button:vertical:end:increment {
  
background-color: #1f5471;

border-radius:  5px  5px 0 0;
display: none;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  display: none;
}